body {
  background-color: #c5c5c59f;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 50vw;
  height: 40vh;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 20px;
  justify-items: center;
  text-align: center;
  margin-top: 50px;
}

.notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1278px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 678px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
